ion-grid {
  max-width: 120vh;
}
.column {
  display: flex;
  flex-direction: column;
  .card {
    height: 6vmin;
  }
}
.selected-top {
  -webkit-box-shadow: 1vmin 1vmin 1.5vmin 1vmin rgba(0,0,0,0.44); 
  box-shadow: 1vmin 1vmin 1.5vmin 1vmin rgba(0,0,0,0.44);
}
.selected {
  margin: 0.5vmin -0.5vmin -0.5vmin 0.5vmin;
}
.drag {
  position: absolute;
  cursor: move;
}
.column-8, .column-9 {
  .card {
    height: 5vmin;
  }
}
.column-10, .column-11 {
  .card {
    height: 4vmin;
  }
}
.column-12, .column-13 {
  .card {
    height: 3vmin;
  }
}
.column-14, .column-15 {
  .card {
    height: 2vmin;
  }
}
.column-16, .column-17, .column-18, .column-19, .column-20 {
  .card {
    height: 1vmin;
  }
}