table {
  margin: 50px auto;
  border-collapse: collapse;
}

td {
  width: 100px;
  height: 100px;
  cursor: pointer;
  font-size: 60px;
}

table > tr:nth-child(1) > td:nth-child(2) {
  border: 10px solid var(--ion-color-dark);
  border-top: none;
}

table > tr:nth-child(2) > td:nth-child(1) {
  border: 10px solid var(--ion-color-dark);
  border-left: none;
}

table > tr:nth-child(2) > td:nth-child(3) {
  border: 10px solid var(--ion-color-dark);
  border-right: none;
}

table > tr:nth-child(3) > td:nth-child(2) {
  border: 10px solid var(--ion-color-dark);
  border-bottom: none;
}